
<div class="bg ">


</div>

<div class="container text-center mt-5">
    <button routerLink='/account/register' class="btn btn-transparent text-white" type="submit">Sign up Instead<i class='bx bx-right-arrow-alt'></i></button>
</div>

  <main class="form-signin">
    
      <h1 class="h3">Login</h1>
    
    <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">


      <div class="form-floating">
        <input type="email" class="form-control rounded-0" formControlName="username" placeholder="name@example.com" required>
        <label for="floatingInput">Email address
          <small class="text-danger small-font" *ngIf="validateControl('username') && hasError('username', 'required')">Email is required</small>
          <small class="text-danger small-font" *ngIf="validateControl('username') && hasError('username', 'email')"><b>(Enter a
            valid email)</b></small>
        </label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control rounded-0" formControlName="password" placeholder="Password" required>
        <label for="floatingPassword">Password
          <small class="text-danger small-font" *ngIf="validateControl('password') && hasError('password', 'required')">(Password is required)</small>

        </label>
      </div>

  
      <button class="w-100 btn btn-lg rounded-0" type="submit" [disabled]="!loginForm.valid">Sign in</button>
      <a routerLink='/account/forgotpassword' class="text-danger forgotPasswordBtn">Forgot password?</a>
      
    </form>
          <p class="copyright pb-3">&copy; Collab</p>
          
  </main>

