
<div class="bg ">


</div>

<div class="container text-center mt-5">
    <button routerLink='/account/register' class="btn btn-transparent text-white" type="submit">Sign up Instead<i class='bx bx-right-arrow-alt'></i></button>
</div>

  <main class="form-signin">
    
      <h1 class="h3">Login</h1>
    
    <form action="">


      <div class="form-floating">
        <input type="email" class="form-control rounded-0" id="floatingInput" placeholder="name@example.com" required>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control rounded-0" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" value="1" name="remember_me" id="rememberMeSwitch">
  <label class="form-check-label" for="rememberMeSwitch"> Remember me</label>
</div>
        
      </div>
      <button class="w-100 btn btn-lg rounded-0" type="submit">Sign in</button>
    </form>
          <p class="copyright pb-3">&copy; Collab</p>
          
  </main>

