/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins" , sans-serif;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #db0d0d;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

 
  

  *::-webkit-scrollbar-thumb {
    background-color: #707070;

  }

  .btn{
    background-color: #11101d;
    border-radius: 0;
    color: white;
  }

  .btn:hover{
      color: white;
  }

input{
    border-radius: 0;
  }

.form-control{
  border-radius: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
